.full-width {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.back-to-home {
  position: absolute;
  top: 50px;
  right: 50px;
}

.login-title {
  margin: 2rem 0;
}

.login-container {
  width: 500px;
  min-height: 500px;
  border: 1px solid var(--orange-500);
}

.input {
  width: 100%;
  padding: 1rem 2rem;
  margin: 0;
  box-sizing: border-box !important;
}

.input input {
  margin-top: 0.75rem;
}

.login-container .btn {
  margin: 2rem;
}

.alternate-option {
  margin: 0 2rem 3rem;
}
