<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://style-sheet.netlify.app/styles.css" />
    <link rel="stylesheet" href="./login.css" />
    <title>Login</title>
  </head>
  <body class="bg-blueblack-900">
    <div
      class="full-width display-flex justify-content-center align-items-center"
    >
      <a
        class="back-to-home text-blueblack-50 font-weight-700"
        href="../../index.html"
        >Back to Home</a
      >
      <div
        class="login-container display-flex flex-column justify-content-center"
      >
        <h1 class="login-title font-size-2xl text-center text-blueblack-50">
          Login
        </h1>
        <div class="input input-default">
          <label
            class="display-flex flex-column font-weight-700 font-size-rg text-blueblack-50"
          >
            Email
            <input type="text" placeholder="Enter your email..." />
          </label>
        </div>
        <div class="input input-default">
          <label
            class="display-flex flex-column font-weight-700 font-size-rg text-blueblack-50"
          >
            Password
            <input type="text" placeholder="Enter your password..." />
          </label>
        </div>
        <button class="btn btn-primary">Login</button>
        <p class="alternate-option text-blueblack-50 text-right">
          Don't have an account?
          <a
            class="text-underline text-blue-500"
            href="../../Components/signup/signup.html"
            >Sign up</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
